body{
    background-color: white;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
}
h1{
    background-color: rgb(194, 208, 250);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 68px;
}
h2{
    background-color: rgb(194, 208, 250);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(13, 72, 112);
}
.badge1{
    color:blue;
}
.badge2{
    color:#b00b69;
}
.badge3{
    color: rgb(66, 152, 192);
}
.badge4{
    color:darkslategray;
}
​
.general{   font-size: 17px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 400px;
    margin-bottom: 10px;
​
}
h4{
    font-size: 17px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 400px;
    margin-bottom: 10px;
}
h5{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: firebrick;
}
h4{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
    color: firebrick;
}
.lasttwo{
    margin-left: 360px;
    margin-right: 360px;
}
table {
    border-collapse: collapse;
    font-size: 12px;
  }
td {
    border: 2px solid rgb(68, 67, 67);
    padding: 0.5rem;
    text-align: left;
}
td:hover {
    background-color: rgb(209, 209, 248);
}
body {
    background-color: rgb(236, 244, 250);
}
a{
    color: blue;
}
​
