body{
    background-color: white;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
}
h1{
    background-color: rgb(194, 208, 250);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 68px;
}
h2{
    background-color: rgb(194, 208, 250);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(13, 72, 112);
}
​
.general{   
    font-size: 17px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 400px;
    margin-bottom: 10px;
​}

h4{
    font-size: 17px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 400px;
    margin-bottom: 10px;
}
h5{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: firebrick;
}
h4{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 21px;
    color: firebrick;
}
.lasttwo{
    margin-left: 360px;
    margin-right: 360px;
}

h6{
    font-size: 22px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
}